<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Thoughtful Pen
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="images/pen-favicon.png">
</head>

<body>

    <div class="header">
        <div class="blog-title">
            The Thoughtful Pen

        </div>

        <div class="nav-bar">
            <div class="nav-item">
                <a href="/">Home</a>
            </div>
            <div class="nav-item">
                <a href="/compose">Compose Blog</a>
            </div>
            <div class="nav-item">
                <a href="/contact">Contact Me</a>
            </div>
            <div class="nav-item">
                <a href="/about">About Me</a>
            </div>
        </div>
    </div>