<%- include("partials/header") -%>

<div class="content">
    <div class="content-intro">
        <h1>About Us</h1>
        <p class="section-content"><%= aboutContent %></p>
    </div>
</div>

<%- include("partials/footer") -%>
