<%- include("partials/header") -%>

    <div class="content">
        <div class="content-intro">
            <h1>Compose</h1>
        </div>

        <div class="form-container">
            <form action="/compose" method="post">
                <label class="input-label" for="title">Title</label>
                <input class="input-field" type="text" name="title" required>

                <label class="input-label" for="content">Blog Content</label>
                <textarea class="input-field" name="content" required></textarea>

                <button id="button" type="submit">Publish</button>
            </form>
        </div>
    </div>

    <%- include("partials/footer") -%>