<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InsightfulWrite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <div class="header">
        <div class="blog-title">
            InsightfulWrite
        </div>

        <div class="nav-bar">
            <div class="nav-item">
                <a href="/">Home</a>
            </div>
            <div class="nav-item">
                <a href="/about">About Us</a>
            </div>
            <div class="nav-item">
                <a href="/contact">Contact Us</a>
            </div>
        </div>
    </div>