* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #3498DB;
}

.header {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 200px;
    background-color: #2C3E50;
}

.blog-title {
    font-size: 40px;
}

.nav-bar {
    display: flex;
    font-size: 20px;
}

.nav-item {
    padding-left: 30px;
}

.content {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100vh;
    padding: 50px 200px 0px;
    background-color: #F5F5F5;
}


form {
    display: flex;
    flex-direction: column;
}

/* footer {
    position: absolute;
    bottom: 0px;
    background-color: #2C3E50;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
} */

.footer-item {
    width: 300px
}

.footer-item:nth-child(2) {
    text-align: center;
}
    
    
/* Primary Color: #2C3E50 (Dark Blue)
Secondary Color: #F5F5F5 (Light Gray)
Accent Color 1: #E74C3C (Crimson Red)
Accent Color 2: #3498DB (Bright Blue)
Neutral Color: #FFFFFF (White) */