* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #3498DB;
}

.header {
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 200px;
    background-color: #2C3E50;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #F5F5F5;
    margin-top: -50px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.blog-title {
    font-size: 40px;
}

.nav-bar {
    display: flex;
    font-size: 20px;
}

.nav-item {
    padding-left: 30px;
}

.nav-item a:hover {
    color: #E74C3C;
    transition: .5s;
}

.content {
    position: relative;
    top: 0px;
    /* margin-top: 100px; */
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: hidden;
    padding: 50px 200px 0px;
    background-color: #F5F5F5;
}

.section-heading {
    margin-top: 20px;
}

.section-content {
    margin-top: 10px;
}

.post-links {
    color: #E74C3C;
}

.footer-item {
    width: 300px
}

.footer-item:nth-child(2) {
    text-align: center;
}

/* Compose page */
.form-container {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-weight: 600;
}

.input-field {
    margin: 5px 0px 10px;
    padding: 5px 5px;
    font-size: 18px;
    border: 2px #2C3E50 solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    outline: none;
}

textarea {
    height: 200px;
    resize: vertical;
    max-height: 500px;
}

.button {
    width: 75px;
    height: 30px;
    border: 2px #3498DB solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-weight: 600;
    transition: .5s;
}

.button:hover {
    background-color: #2C3E50;
    font-weight: bold;
    transition: .5s;
}

/* Contact Page */
#contact-content {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form {
    background-color: #FFFFFF;
    color: #00ADB5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 500px;
    border-radius: 8px;
}

.contact-field {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#contact-intro-msg {
    width: 360px;
    text-align: center;
}

.contact-input {
    width: 356px;
    margin-top: 2px;
    outline: none;
    resize: none;
  }

  .contact-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
  }