* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #3498DB;
}

.header {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 200px;
    background-color: #2C3E50;
}

.blog-title {
    font-size: 40px;
}

.nav-bar {
    display: flex;
    font-size: 20px;
}

.nav-item {
    padding-left: 30px;
}

.nav-item a:hover {
    color:#E74C3C;
    transition: .5s;
}

.content {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100vh;
    padding: 50px 200px 0px;
    background-color: #F5F5F5;
}

.section-heading {
    margin-top: 20px;
}

.section-content {
    margin-top: 10px;
}

.post-links {
    color: #E74C3C;
}

/* footer {
    position: absolute;
    bottom: 0px;
    background-color: #2C3E50;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
} */

.footer-item {
    width: 300px
}

.footer-item:nth-child(2) {
    text-align: center;
}
    
    
/* Primary Color: #2C3E50 (Dark Blue)
Secondary Color: #F5F5F5 (Light Gray)
Accent Color 1: #E74C3C (Crimson Red)
Accent Color 2: #3498DB (Bright Blue)
Neutral Color: #FFFFFF (White) */

/* Compose page */
.form-container {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-weight: 600;
}

.input-field {
    margin: 5px 0px 10px;
    padding: 5px 5px;
    font-size: 18px;
    border: 2px #2C3E50 solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    outline: none;
}

textarea {
    height: 200px;
    resize: vertical;
}

#button {
    width: 75px;
    height: 30px;
    border: 2px #3498DB solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-weight: 600;
    transition: .5s;
}

#button:hover {
    background-color: #2C3E50;
    font-weight: bold;
    transition: .5s;
}

